extends ../../base

block append head
  link(rel="stylesheet", href="/css/pages/auth/verify2fa.css")

block content
  .main
    .container
      .heading-secondary Enter 2FA Code
      form.form#twoFAForm
        .form__group
          input.form__input(type="text" name="code" id="code" required)
        .form__group
          button.btn.btn--green(type="submit") Submit
        .form__group
          button.btn(type="button" id="resendCode") Resend Code

