extends base

block append head
  link(rel="stylesheet" href="/css/emailConfirm.css")

block content
  .main
    .container.message-container
      .heading-secondary Check Your Email
      p 
        | We’ve sent a confirmation link to your email. Please click the link to confirm your account.
      a.btn.btn--green(href="/") Go Back to Home
