extends base

block content
  .reset-password
    h2.heading-secondary.ma-bt-lg Reset Your Password
    form.form#resetPasswordForm
      input(type="hidden", id="resetToken" value=token)
      .form__group
        label.form__label(for="password") New Password
        input.form__input(type="password", id="password", required)
      .form__group
        label.form__label(for="passwordConfirm") Confirm New Password
        input.form__input(type="password", id="passwordConfirm", required)
      .form__group.form__btns
        button.btn.btn--green(type="submit") Update Password
