.mytours-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
}

.booking {
  background-color: #fff;
  padding: 2.5rem 3rem;
  margin-bottom: 3rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  text-align: left;
}

.booking__title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #333;
}

.booking__detail {
  font-size: 1.6rem;
  margin-bottom: 0.75rem;
  color: #777;
}

.booking__detail strong {
  font-weight: 700;
  color: #555;
}

.btn {
  margin-top: 1.5rem;
}
