/* Availability Banner */
.section-availability {
  background-color: #fffbec;
  padding: 15px;
  text-align: center;
  z-index: 1001;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 1.6rem; /* Larger font size for visibility */
  color: #000; /* Black text color for better contrast */
}

.banner a.btn {
  padding: 8px 20px;
}

/* Floating booking button */
.btn--floating {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 1000;
  background-color: #28a745;
  color: #fff;
  padding: 15px 30px;
  font-size: 2rem;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--floating:hover {
  background-color: #218838;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
