extends ../../base

block content
  .confirmation
    h2.heading-secondary Confirming your booking...
    .confirmation__content
      .spinner
      p.confirmation__text Please wait while we confirm your booking...