extends ../../base

block append head
  link(rel="stylesheet" href="/css/layout/adminLayouts.css")
  link(rel="stylesheet" href="/css/layout/user-view.css")
  link(rel="stylesheet" href="/css/pages/manageUsers.css")

block content
  main.main
    .user-view
      include ../../_sidenav

      .user-view__content
        .user-view__users-container.user-view__container(data-current-user-id= currentUser._id)
          h2.heading-secondary.ma-bt-md Manage Users

          // Search and Filter Section
          .user-controls
            .search-box
              .form__group
                label.form__label(for='searchUser') Search
                input#searchUser.form__input(
                  type='text',
                  placeholder='Search by name or email...',
                  autocomplete='off'
                )
            .filter-box
              .form__group
                label.form__label(for='roleFilter') Role
                select#roleFilter.form__input
                  option(value='') All Roles
                  option(value='user') User
                  option(value='guide') Guide
                  option(value='lead-guide') Lead Guide
                  option(value='admin') Admin
            .action-box
              .form__group
                label.form__label &nbsp;
                button.btn.btn--small.btn--green#createUserBtn Create New User

          // Users Table
          .user-table
            table.table
              thead
                tr
                  th Photo
                  th
                    span Name
                  th
                    span Email
                  th
                    span Role
                  th Actions
              tbody#userTableBody
                // Users will be populated here via JavaScript

          // Pagination
          .pagination
            button.btn.btn--small#prevPage Previous
            span#pageInfo Page 1 of 1
            button.btn.btn--small#nextPage Next

          // Create/Edit User Modal
          .modal#userModal
            .modal-content
              span.close-modal &times;
              h3#modalTitle Create New User
              form#userForm.form
                .form__group
                  label.form__label(for='userName') Name
                  input#userName.form__input(type='text', required)
                .form__group.creation-only
                  label.form__label(for='userEmail') Email
                  input#userEmail.form__input(type='email', required)
                .form__group
                  label.form__label(for='userRole') Role
                  select#userRole.form__input
                    option(value='user') User
                    option(value='guide') Guide
                    option(value='lead-guide') Lead Guide
                    option(value='admin') Admin
                .form__group.edit-only
                  label.form__label(for='userActive') Account Status
                  select#userActive.form__input
                    option(value='true') Active
                    option(value='false') Inactive
                .form__group.creation-only
                  label.form__label(for='userPassword') Password
                  input#userPassword.form__input(type='password', minlength='8')
                .form__group.creation-only
                  label.form__label(for='userPasswordConfirm') Confirm Password
                  input#userPasswordConfirm.form__input(type='password', minlength='8')
                .form__group.action-btns
                  button.btn.btn--small.btn--green(type='submit') Save User
                  button.btn.btn--small.btn--grey#cancelUserBtn(type='button') Cancel


          // Delete Confirmation Modal
          .modal#deleteUserModal
            .deleteModal-content
              span.close-delete-modal &times;
              h4.heading-quaternary Confirm Deletion
              p.delete-confirm-text Are you sure you want to delete this user?

              // Add this section:
              .delete-user-info
                img#deleteUserPicture(src="", alt="User Photo", width="40", height="40")
                p
                  strong Name: 
                  span#deleteUserName
                p
                  strong Email: 
                  span#deleteUserEmail

              .delete-btn-group
                button.btn.btn--small.btn--red#confirmDeleteUserBtn(type='button') Delete
                button.btn.btn--small.btn--grey#cancelDeleteUserBtn(type='button') Cancel