/* Grid Layout
   ========================================================================== */

.card-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem;
}

/* Grid Layout Classes */
.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* Grid Utilities */
.span-all-rows {
  grid-row: 1 / -1;
}

/* Flex Layouts */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
